<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
    <extension
            id="io.github.quoll.owlapi.dlesyntax.EditorKitHook"
            name="DLe Syntax EditorKit Hook"
            point="org.protege.editor.core.application.EditorKitHook">
        <class value="org.semanticweb.owlapi.dlesyntax.protege.DLEEditorKitHook"/>
        <editorKitId value="OWLEditorKit"/>
    </extension>
</plugin>
